{% extends 'base.html.twig' %}

{% block title %}PoÄetna stranica{% endblock %}

{% block body %}
    <script src="https://kit.fontawesome.com/0ee3e5371e.js" crossorigin="anonymous"></script>
    <div {{ vue_component('Home')}}></div>
{% endblock %}
