{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if mode == 'STANDARD' %}
        <div {{ vue_component('StandardGame') }} style="height: 100%"></div>
    {% else %}
        <div {{ vue_component('FlagGame') }} style="height: 100%"></div>
    {% endif %}
{% endblock %}