html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pano {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#map {
    width: 350px;
    height: 350px;
    z-index: 100;
    float: right;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}