@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #2c3333;
    overflow-x: hidden;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2c3333;
  }
  
  ::-webkit-scrollbar-thumb {
    background:#808585;
    border-radius: 100px;
  }

@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes pop-out {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}